[Unit]
Description=Syncthing automated master introducer
RequiresMountsFor=/data

[Service]
Type=simple
ExecStart=/usr/local/bin/synczinc %i
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
