[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zeroconf = "==0.31.0"
flask = "*"
flask-socketio = "*"
netifaces = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.12"
