[Unit]
Description=Kiosk /boot/kiosk.url
RequiresMountsFor=/run
           
[Service]
Type=simple
User=root

ExecStart=/opt/Pi-tools/kiosk/kiosk
ExecStop=/bin/pkill weston; /bin/pkill cog
Restart=always
           
[Install]
WantedBy=multi-user.target
