[Unit]
Description=Force ipv4 static 
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/root/RPi-tools/networks/force-ipv4-static.sh

[Install]
WantedBy=multi-user.target 
