[Unit]
Description=Web Files Manager
           
[Service]
Type=simple
ExecStart=/usr/local/bin/filebrother
ExecStop=/usr/bin/pkill filebrother
Restart=always
           
[Install]
WantedBy=default.target
