[Unit]
Description=Route audio to internal, HDMI and USB if available

[Service]
Type=oneshot
ExecStart=/usr/local/bin/audioselect

[Install]
WantedBy=multi-user.target
